form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto auto auto auto auto;
  gap: var(--app-padding) var(--app-padding);
  grid-template-areas: 'titleDetailsArea titleDetailsArea' 'codeArea titleArea' 'descriptionArea descriptionArea' 'titleAssignArea titleAssignArea' 'prerequisitesArea prerequisitesArea' 'semesterArea restrictionsArea' 'submitArea submitArea';
  background-color: white;
  padding: 50px 40px;
  border-radius: 4px;
}

.title-details {
  grid-area: titleDetailsArea;
}

.title-assign-area {
  grid-area: titleAssignArea;
}

.code-area {
  grid-area: codeArea;
}

.title-area {
  grid-area: titleArea;
}

.prerequisites-area {
  grid-area: prerequisitesArea;
}

.semester-area {
  grid-area: semesterArea;
}

.restrictions-area {
  grid-area: restrictionsArea;
}

.description-area {
  grid-area: descriptionArea;
}

button[type='submit'] {
  grid-area: submitArea;
  width: fit-content;
  margin: 40px auto 0 auto;
}

h2,
h3 {
  margin: 0;
  font-weight: 500;
}

h2 {
  font-size: 1.3em;
  font-weight: 600;
  padding-bottom: 25px;
}

h3 {
  font-size: 1em;
  font-weight: 600;
  padding-bottom: 25px;
}

mat-checkbox {
  padding: 10px 14px;
  background-color: #fff;
  margin-right: 10px;
  border-radius: 5px;
  border: solid 1px #e0e0e0;
}
